{
	frankenphp
	# Gunakan CA lokal (bukan Let's Encrypt)
	acme_ca local
	auto_https disable_redirects
}

pevesindo-pop.test {
	root * public
	
	@reverb {
		path /app/* /apps/*
	}
	reverse_proxy @reverb 127.0.0.1:8080
	
	php_server {
		resolve_root_symlink
	}
	encode zstd gzip
	# php_server is already declared above with options
	file_server
	tls internal
}
